.container {
  display: flex;
  justify-content: center;
  margin-top: -100vh;
}

.detail {
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 85%;
  
  margin-top: 4vh;
  max-width: 550px;
  min-width: 220px;

  background: rgb(228, 233, 231);
  box-shadow:
    0 0 0 3px hsl(0, 0%, 70%),
    0 0 0 5px hsl(0, 0%, 90%);
}

.section {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sectionDetail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.sectionDetail ul {
  margin-top: 3px;
  margin-bottom: 3px;
}

.sectionDetail li {
  text-align: left;
  margin-left: -10px;
}

.sectionTitle {
  font-weight: bold;
  font-style: italic;
  font-size: 1.3em;
}

.sectionSubtitle {
  font-size: 1.15em;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
}

.activityContainer {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  min-width: 140px;
  background-color: azure;
}

.activityName {
  display: flex;
  font-weight: bold;
  text-decoration: underline;
}

.activityDetail {
  margin-left: 12px;
  display: flex;
}

.flag {
  max-width: 100%;
  max-height: 220px;
  border: 1px solid black;
}

.detailBackground {
  background: url("../../assets/background-detail.jpg") repeat;
  height: 100vh;
  animation-name: slide;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (max-width: 349px) {
  .detailBackground{
    animation-duration: 70s;
  }
}

@media (min-width: 350px) and (max-width: 899px){
  .detailBackground{
    animation-duration: 50s;
  }
}

@media (min-width: 900px) {
  .detailBackground{
    animation-duration: 30s;
  }
}

@keyframes slide {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}


.container button {
  width: 140px;
  height: 30px;
  margin: 6px;
  min-width: 50px;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  min-height: 26px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  will-change: transform;
}

.button {
  background-color: transparent;
  color: #222222;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}