.contenedor {
  display: flex;
  flex-wrap: wrap;
}

.pais {
  border: 1px solid black;
  border-radius: 5px;
  margin: 4px;
  text-align: center;
}

.bandera {
  max-width: 150px;
  max-height: 80px;
}