.container {
  /* margin: 10px; */
  display: flex;
  /* width: 50%; */
  /* align-items: center; */
  justify-content: center;
}

.form {
  /* display: block; */
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 70%;
  
  margin-top: 4vh;
  max-width: 500px;
  min-width: 200px;

  background: rgb(194, 194, 194);
  
}

.section {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}



.section label {
  margin-right: 5px;
}

.box{
  height: 220px;
  overflow: auto;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-left: 15px;
  color:rgb(6, 24, 24);
  border: 1px solid black;
  margin: 10px;

  background: rgb(63,177,251);
  background: radial-gradient(circle, rgb(63, 251, 144) 0%, rgb(73, 252, 70) 100%);
}

.error {
  border: 1px solid black;

  color: red;
  font-size: 0.7em;
}