.container {
  display: flex;
  justify-content: center;
  margin-top: -100vh;
}

.form {
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 85%;
  
  margin-top: 4vh;
  max-width: 500px;
  min-width: 220px;

  background: rgb(228, 233, 231);
  box-shadow:
    0 0 0 3px hsl(0, 0%, 70%),
    0 0 0 5px hsl(0, 0%, 90%);
}

.section {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section label {
  margin-right: 3px;
}

.section input {
  margin-right: 3px;
}

.numberInput {
  width: 50px;
}

.box{
  height: 220px;
  width: 100%;
  overflow: auto;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-left: 12px;
  color:rgb(6, 24, 24);
  border: 1px solid black;
  margin: 10px;

  background: rgb(63,177,251);
  background: radial-gradient(circle, rgba(149, 250, 193, 0.654) 0%, rgba(121, 250, 119, 0.694) 100%);
}

.error {
  border: 1px solid black;
  padding: 1px 5px 1px 5px;
  color: red;
  background-color: rgba(240, 225, 185, 0.687);
  font-size: 0.75em;
}

.noerror {
  padding: 1px 5px 1px 5px;
  height: 1.15em;
}

.createActivityBackground {
  background: url("../../assets/background-createactivity-dark.png") repeat-x;
  height: 100vh;
  animation-name: slide;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (max-width: 349px) {
  .createActivityBackground{
    animation-duration: 70s;
  }
}

@media (min-width: 350px) and (max-width: 899px){
  .createActivityBackground{
    animation-duration: 50s;
  }
}

@media (min-width: 900px) {
  .createActivityBackground{
    animation-duration: 30s;
  }
}

@keyframes slide {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

.container button {
  width: 140px;
  height: 30px;
  margin: 6px;
  min-width: 50px;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  min-height: 26px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  will-change: transform;
}

.button {
  background-color: transparent;
  color: #222222;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}