.countriescontainer {
  display: flex;
  flex-wrap: wrap;
 
}

.country {
  border: 1px solid black;
  border-radius: 5px;
  margin: 6px;
  text-align: center;
}

.flag {
  max-width: 150px;
  max-height: 80px;
}