.container {
  display: flex;
  flex-wrap: wrap;
}

.parte1{
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin: 4px;
  padding: 4px;
}

.orden{
  background: rgba(255, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  border: 2px solid red;
  margin: 4px;
  padding: 4px;
}

.filtercontinent{
  background: rgba(0, 255, 0, 0.25);
  border: 2px solid green;
  margin: 4px;
  padding: 4px;
}

.filteractivity{
  background: rgba(0, 0, 255, 0.25);
  border: 2px solid blue;
  margin: 4px;
  padding: 4px;
}

.pagination{
  background: rgba(255, 255, 0, 0.25);
  border: 2px solid yellow;
  margin: 4px;
  padding: 4px;
}

